#Titulo{              /* Usando o indentificador 'id' (#)*/
   color:royalblue; 
}
a:active{                             /*Alterando a cor do link usando o 'a:active*/
   background-color:rgb(212, 26, 26);
}
#principal{
   color:blue
}
.texto_red{      /* Usando o class (.)*/
   color:red;
}
.lista_orange{
   color:orange;
}