#Titulo{              /* Usando o indentificador 'id' (#)*/
   color:rgb(7, 45, 95)
}
/* a:active{                             Alterando a cor do link usando o 'a:active'
   background-color:rgb(212, 26, 26); 
}*/
/* Aula de background*/
/* div{
    background-image: url(../Fundos/fundo-abstrato.jpg);   
   background-position: center;
   background-attachment: fixed; 
   background-repeat: no-repeat;
   background-size: cover; 
} */
.texto_green{
   color:green;
}

#principal{
   color:sienna;
}
.texto_red{      /* Usando o class (.)*/
   color:red;
}
.lista_orange{
   color:orange;
}

/* unidades de medida(fixas) */
#cm{
  background-color:red;
   height:1cm;
   width:1cm;
}
#mm{
   background-color:blue;
   height:1mm;
   width:1mm;
}
#in{
   background-color:red;
   height:1in;
   width:1in;
}
#px{
   background-color: blue;
   height: 10px;
   width:10px;
}
#pt{
   background-color:red;
   height: 10pt;
   width:10pt;
}
#pc{
   background-color: blue;
   height: 1pc;
   width:1pc;
}

/* Unidades de medida (referência) */

 /* html{ 
   font-size: 20px;  
}  */

/* "em" equivale ao tamanho do elemento do container e o "rem" equivale ao tamanho do elemento raiz(HTML) */
/* a fonte do inside  herda o tamanho da fonte "pai" que no caso é a container ,utilizando o (em)*/
/* "vw" se refere a largura da janela e o "vh" se refere a altura da janela*/
/*"vmin" se refere a menor dimensão da altura/largura */
/* "vmax" se refere a maior dimensão da altura/largura */
/* uso do %*/  
.container{
   width: 80%;
   font-size: 25px;
   background: red;
}
.inside{
   width: 80%;
   font-size: 1em;
   background: blue;
}

/* Margin (distanciamento do elemento para fora) e Padding (distanciamento do elemento para dentro) */

#base{
   height: 10px;
   background-color: red;
}

#container{
   background-color: blue;
   color: white;
   margin: 20px 50px; 
}

/* Border */

.borda{
   font-size: 25px;
   border-width: 10px;
   border-color: red green yellow grey;
 
   
}

 .quadrado{
   margin: 20px;
   height:100px;
   width:100px;
   color: white;
   background-color:green; 
   border-radius: 50%;
   /* transition: 0.3s ease; Dúvida */
   /* overflow: hidden; 
   float: left;  */
 }

/* Tipos de border*/
.dotted { border-top-style: dotted; border-color: red;}
.dashed {border-style: dashed;  color:red}
.solid {border-style: solid; color: black;}
.none {border-style: none;}
.hidden {border-style: hidden;}

/* Box Model */

/* body{
  padding: 0;
   margin: 0;
} */

.square{
   width: 100px;
   height: 100px;
   background-color: yellow;
   border:10px solid blue;
   /* padding: 10px; */

   /* box-sizing: border-box; */

}
.square2{
   width: 120px;
   height: 100px;
   background-color: yellow;
  

}
 
