/* Ajustes de texto */
/*propriedades: text-align:center,left,right,justify;
                text-transform: uppercase,lowercase,capitalize;
                text-indent (parágrafo):
                text-decoration: underline,overline,line-through,none(para links) 
                text-shadow(sombra)*/
                
/* p{
    text-align: justify;
    text-indent: 35px; */
    /* letter-spacing: 1.5px ; distanciamento entre as letras
    line-height: 1.5 ;   altura da linha (é um multiplicador da altura da fonte)
    word-spacing:3px ; distanciamento entre as palavras */
  
    /*  Fontes  */ 
    /* font-family: Times ;
    font-style: normal;
    font-weight:bold;
    font-variant: small-caps;
} */
    
    /* Fontes customizadas  */
/* p{
  
    font-size: 20px;
    font-family: 'Bangers', cursive ;

} */
        /* Estilo de link */
        
/* .links{ Botão com outline   
    text-decoration:none;
    color:blue;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid orange ;
    cursor: all-scroll;  
 
}*/
/* Alterar a cor do link que foi 'clicado' */
/* .links:visited{   
    color : black;
} */

/* Mouse over link: hover,selected link: active, unvisited link: link, visited link: visited.*/
/* .links:hover{
    background: orange ;
    color:white;
} */


/* Listas */

ul{
    color: pink;
    padding: 10px;
    margin-left: 30px;
    background-color: red;
    list-style-image: url(../Fundos/insta.png);
    list-style-position: inside;
    width: 50%;
    border-radius: 10px;
}
ol{
    color:pink;
    padding: 10px;
    margin-left: 30px;
    background-color: blue;
    list-style-image: url(../Fundos/Twitter.png);
    list-style-position: inside;
    width: 50%;
    border-radius: 10px;
}

li{
    border: 1px solid;
    background-color: purple;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    
    
    
}
.links{
    text-decoration: none;
    color: pink;
    
    
}